<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "LIST", "/strokes/index" %>

	<%= form_tag Stroke, :method => 'get' do %>
		<%= text_field :query, params[:query] %>
		<%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
	<% end %>

	<%= form_for Stroke.new do |f| %>
		<%= f.label :tags %>
		<%= f.text_field :tags %>
		<%= f.label :content %>
		<%= f.text_area :content %>
		<%= f.submit :class => "btn btn-default"%>
	<% end %>

	<% @strokes.each do |stroke| %>
		<p>
			<%= image_tag stroke.icon, :size => "50x50" %>
			<b><%= link_to stroke.content, stroke.url %></b>
			<%= stroke.tags %>
			<%= button_to "PUSH", {:action => "push", :id => stroke.id}, :class => "btn btn-default" %>
			<%= button_to "PULL", {:action => "pull", :id => stroke.id}, :class => "btn btn-default" %>
			<%= stroke.like %> CHERRY
		</p>
	<% end %>

	<%= yield %>

</body>
</html>
