<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "LIST", "/strokes/index" %>

	<%= form_tag Stroke, :method => 'get' do %>
		<%= text_field "search", params[:query] %>
		<%= submit_tag "Search", :name => nil %>
	<% end %>

	<%= form_for Stroke.new do |f| %>
		<%= f.label :tags %>
		<%= f.text_field :tags %>
		<%= f.label :content %>
		<%= f.text_area :content %>
		<%= f.submit %>
	<% end %>

	<% @strokes.each do |stroke| %>
		<p>
			<%= image_tag stroke.icon, :size => "50x50" %>
			<b><%= link_to stroke.content, stroke.url %></b>
			<%= stroke.tags %>
			<%= button_to "TOGGLE", :action => "toggle" %>
			<%= button_to "LIKE", :action => "like" %>
			<%= stroke.like %> likes
			<%= link_to "like", '...', class: 'vote', method: :put, remote: true %>
		</p>
	<% end %>

	<%= yield %>

</body>
</html>
