<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	.jumbotron {
  		background: url(<%= asset_path @random_jumbotron_img %>);
  		background-position: center center;
		background-size: cover;
  	}
  </style>
</head>


<body>


	<textarea id="debug" cols="100" rows="3">
		<% @all_strokes.each do |stroke| %>
<%= stroke.content %>
		<% end %>
	</textarea>

	<div class = "container">
		<table class = "table">
			<tbody>
				<%= form_for Stroke.new do |f| %>
					<td><%= image_tag "default.png", :size => "128x80" %></td>
					<td>
						<%= f.text_field :title,
										 :class => "form-control ui-autocomplete-input",
										 :placeholder => "Titanic (1998) XXXXX",
										 :id => "title",
										 :value => "Titanic",
										 :autocomplete => "off"%>
						<%= f.text_field :content,
										 :class => "form-control",
										 :placeholder => "I can cry even at the first 5 minutes... Love this movie.",
										 :id => "content",
										 :value => "Love this movie oh my god!",
										 :autocomplete => "off"%>
						<%= f.text_field :tags,
										 :class => "form-control",
										 :value => "@meaue",
										 :id => "tags" %>
					</td>
					<td><%= f.submit :class => "btn btn-default"%></td>
				<% end %>
				<% @strokes.each do |stroke| %>
					<%= content_tag_for(:tr, stroke) do %>
						<td><%= image_tag stroke.icon, :size => "128x80" %></td>
						<%= hash = JSON.parse(stroke.content) %>
						<td><b> <%= hash["title"] %> </b></td>
						<td><p> <%= hash["comment"] %> </p></td>
						<td><%= stroke.tags %></td>
					<% end %>
				<% end %>
			</tbody>
		</table>
		
		<%= yield %>
		
	</div>
</body>
</html>
